<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{'/css/main.css' | url}}">
    <link rel="stylesheet" href="https://use.typekit.net/lsr4neh.css">
</head>
<body>
    <main>
    <header>
        <h1>{{ title }}</h1>  
    </header>
        <article>
            {{ content | safe }}
            </article>
    </main>
    <footer>
        <p>&copy; Jenna Shon, Parsons School of Design</p>
    </footer>
</body>
</html>