---
layout: base.njk 
---

<video width="800" autoplay muted>
<source src="{{ mp4 }}" type="video/mp4">
</video>

{{ content | safe }}

<footer>
    {# <p> Published on: {{ page.date.toDateString() }}</p> #}
</footer>